a {
  text-decoration: none;
  color: blue;
}
a:hover {
  text-decoration-line:underline;;
}
h1 {
  font-size:45px;
  text-align: center;
  border-bottom:1px solid black;
  margin:0;
  padding:20px;
}
ol {
  border-right:1px solid black;
  margin:0;
  padding-top: 20px;
  width: 100px
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
 padding-left:25px;
}
#daynight {
  font-size: 15px;
  width: 80px;
  height: 80px;
  border-color: black;
  border-radius: 10px;
  background-color: white;
  color: black;
}
@media(max-width:600px) {
  ol {
    border-right:none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;

  }
  #grid {
    display: block;
    grid-template-columns: none;
  }
}
